.select-wrapper {
    position: relative;
    display: inline-block;
    width: 720px;
}

.custom-select {
    padding: 8px 0px 8px 16px;
    color: #cacacc;
    width: 100%;
    border-radius: 8px;
    border-color: #cacacc;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    padding-right: 48px;
    border: 1px solid #ccc;
    background: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;
    position: relative;
}

.custom-select option:not(:first-child) {
    color: #727273;
}

.custom-select:focus {
    border-color: transparent;
}

.select-wrapper:focus-within {
    outline: 2px solid #0066cc;
    outline-offset: 0;
    border-radius: 8px;
}

.arrow-box {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 48px;
    height: calc(100% - 2px);
    background-color: #f1f0fa;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 1;
}

.select-wrapper:focus-within .arrow-box {
    background-color: #d6daee;
}

.arrow-icon {
    width: 14px;
    height: 7px;
    object-fit: contain;
}
